.horizontal-center {
    text-align: center;
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-0%);
    transform: translateX(-10%);
}

.vertical-center {
    margin: 0;
    position: relative;
    bottom: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.actions {
    padding: 0;
}

.actions a {
    text-align: center;
    float: left;
    width: 13vh;
    height: 13vh;
    border: 0.7vh solid #FDFFFC;
    border-radius: 100%;
}

.actions a > * {
    font-size: 8vh;
}

.actions i {
    transform: translate(0, 2.5vh);
}

.actions i.offset {
    transform: translate(0.3vw, 2.5vh) !important;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 2vh;
}

.interests .interest {
    display: block;
    position: relative;
    width: 20vh;
    height: 20vh;
    margin-right: 2vh;
    margin-left: 2vh;
}

.interests .interest .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.interest .option_inner {
    width: 15.5vh;
    height: 14vh;
    background-color: #11151C;
    border-radius: 1vh;
    text-align: center;
    cursor: pointer;
    color: #FDFFFC;
    display: block;
    border: 0.85vh solid #FDFFFC;
    position: relative;
    padding: 1.3vh;
    padding-top: 2.8vh;
    margin-right: 0;
    font-family: "Font Awesome 5 Free";

    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, border-width 0.2s ease-in-out, padding 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, border-width 0.2s ease-in-out, padding 0.2s ease-in-out;

}

.interest .option_inner .icon .fa {
    font-size: 12vh;
}

.interest .checkbox:checked ~ .option_inner {
    color: #67AAF9;
    border: 0.85vh solid #67AAF9;
}

.interest .option_inner:hover {
    color: #67AAF9;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

a {
    background-color: transparent;
    color: #FDFFFC;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.25s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.25s ease-in-out;
}

a:hover {
    color: #67AAF9 !important;
    border-color: #67AAF9 !important;
}

body {
    margin: 0;
    background-color: #1e252d;
}

ul {
    list-style: none;
}

input[type="checkbox"] {
    border-radius: 10vh;
}

#wrapper {
    background: url("images/bg.jpg") no-repeat center top fixed;
    background-size: cover;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    min-height: 100vh;
    opacity: 0;

    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.loaded #wrapper {
    opacity: 1;
}

#intro {
    padding-top: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 87vh;

    width: 100%;
    height: 1vh;

    transform: translateY(3vh);
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

#landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: opacity 0.15s;
    -webkit-transition: opacity 0.15s;
}

#select-interests {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    opacity: 0;
}

#select-interests.shown {
    display: flex;
    animation-name: display-interests;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes display-interests {
    from { opacity: 0; }
    to {opacity: 1; }
}

.loaded #intro {
    transform: translateY(0vh);
}

#intro h1 {
    font-size: 12.5vh;
    line-height: 1;
    color: #FDFFFC;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 750;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 3.3333vh;
}

#intro p {
    font-family: "Merriweather", Georgia, serif;
    color: #FDFFFC;
    font-size: 3.64583334vh;
    font-style: italic;
    margin-top: -0.4vh;
    text-align: center;
    margin-bottom: 3.3333vh;
}

#nav {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.176);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3vw;
}

#nav a {
    text-align: center;
}

#nav a > * {
    font-size: 5vh;
}